.footer{
    background-color: #032541;
    height: 300px;
    margin-top: 10px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}

.category{
    color: rgb(255, 255, 255);
    margin-right: 30px;
  
}
.footerTitle{
    font-size: larger;
    font-weight: bolder;
}
.items{
    color: rgb(255, 255, 255);
}
.parts{
    display: flex;
    flex-wrap: nowrap;
    margin-right: 30px;
}
.footerLogo{
    width: 100px;
    margin-right: 30px;

}
.footerBox{

}